@model Registration
@{
    ViewData["Title"] = "Home Page";
}
<h2>Регистрация</h2>
<br>
<div class="list-group-item d-flex justify-content-between">
@using (Html.BeginForm("Register", "Home", FormMethod.Post))
    {
        
        @Html.LabelFor(m => m.UserName)
        <br>
        @Html.TextBoxFor(m => m.UserName)
        <br>
        @Html.LabelFor(m => m.Email)
        <br>
        @Html.TextBoxFor(m => m.Email)
        <br>
        @Html.LabelFor(m => m.Password)
        <br>
        @Html.PasswordFor(m => m.Password)
        <br>
        @Html.LabelFor(m => m.PasswordRepeat)
        <br>
        @Html.PasswordFor(m => m.PasswordRepeat)
        <br></br>
        <button type="submit">Зарегистрироваться</button>
    }
</div>


